@use "./colors" as *;
@use "./typography" as *;
@use "./properties" as *;
@use "./themes" as *;

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $body-font;
    font-size: $normal-font-size;
    //background-color: $body-color;
    //color: $text-color;
    transition: .3s; /* For animation dark mode */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    font-family: $body-font;
    outline: none;
    border: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1024px;
    margin-left: .5rem;
    margin-right: .5rem;

    @media (min-width: 1040px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.grid {
    display: grid;
}

.section {
    padding: 4.5rem 0 2rem;

    @media (max-width: 1023px) {
        padding: 7.5rem 0 1rem;
    }
}

.section-title {
    font-size: $h2-font-size;
    margin-bottom: 1rem;

    @media (min-width: 1023px) {
        font-size: 2.5rem;
    }
}

.section-subtitle {
    display: block;
    font-size: $small-font-size;
    //color: $second-color;

    @media (min-width: 1023px) {
        font-size: $normal-font-size;
    }
}

.main {
    overflow: hidden;
}

// scroll bar

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8e8e8e #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 8px;
    width: 8px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $light-mode-secondary;
}

*::-webkit-scrollbar-track:hover {
    background-color: $light-mode-secondary;
}

*::-webkit-scrollbar-track:active {
    background-color: $light-mode-secondary;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(118, 119, 120);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(104, 104, 105);
}

*::-webkit-scrollbar-thumb:active {
    background-color: rgb(118, 119, 120);
}