@use "../global/" as *;

.post {
    @include themify($themes) {
        -webkit-box-shadow: rgba(32, 54, 86, 0.15) 0px 8px 20px;
        -moz-box-shadow: rgba(32, 54, 86, 0.15) 0px 8px 20px;
        box-shadow: rgba(32, 54, 86, 0.15) 0px 8px 20px;
        border-radius: .35rem;
        background-color: themed("cardColor");
        color: themed("textColor");

        .post-img {
            display: flex;
            border-top-left-radius: .35rem;
            border-top-right-radius: .35rem;
        }

        .post-container {
            &__content {
                display: flex;
                flex-direction: column;
                padding: .65rem .75rem;

                .user {
                    display: flex;
                    gap: 1rem;

                    img {
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .date {
                        font-size: 16px;
                        color: themed("textColorSecondary");
                        text-transform: uppercase;
                    }
                }
            }

            .tags {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: .65rem .75rem;
                color: themed("socialIcons");

                .chip {
                    display: flex;
                    align-items: center;
                    background-color: themed("chip");
                    gap: 10px;
                    padding: .20rem .50rem;
                    border-radius: .25rem;
                    cursor: pointer;

                    .text {
                        font-size: 12px;
                    }

                    .icon {
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            &__footer {
                display: flex;
                justify-content: space-between;
                padding: .65rem .75rem;

                i {
                    font-size: 18px;
                }
            }
        }
    }
}