/*========== Colors ==========*/

//light mode
// background colors
$light-mode-primary: #ffffff;
$light-mode-secondary: rgb(236, 238, 243);

//text-colors
$light-mode-text-primary: rgb(35, 35, 35);
$light-mode-text-secondary: rgba(14, 18, 32, 0.7);

//dark mode
// background colors
$dark-mode-primary: #121212;
$dark-mode-secondary: #211f1f;

//text colors
$dark-mode-text-primary: #ffffff;
$dark-mode-text-secondary: rgba(166, 161, 161, 0.7);
